/* style-3.css */
/* ======= Base ======= */
body {
    font-family: 'Lato', arial, sans-serif;
    color: #444444;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    color: #444;
    font-weight: 400;
    margin-top:30px;
    margin-bottom:20px;
}
h1.logo, h2.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #6690b9;
}
section.docs p {
    line-height:1.5em;
}
a {
    color: #6690b9;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
a:hover {
    text-decoration: underline;
    color: #4a77a2;
}
section.promo .btn,
a.btn {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    padding: 8px 16px;
}
section.promo .btn,
section.promo a.btn {
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: bold;
}
.btn .fa,
a.btn .fa {
    margin-right: 5px;
}
.btn:focus,
a.btn:focus {
    color: #fff;
}
a.btn-cta-primary,
.btn-cta-primary {
    background: #2a435c;
    border: 1px solid #2a435c;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
    background: #22364a;
    border: 1px solid #22364a;
    color: #fff;
}
a.btn-cta-secondary,
.btn-cta-secondary {
    background: #f46fa3;
    border: 1px solid #f46fa3;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
    background: #f25794;
    border: 1px solid #f25794;
    color: #fff;
}
.text-highlight {
    color: #2a435c;
}
.offset-header {
    padding-top: 90px;
}
pre code {
    font-size: 16px;
}

/* ======= Header ======= */
.header {
    background: #17baef;
    color: #fff;
    position: fixed;
    width: 100%;
}

.header.navbar-fixed-top {
    background: #fff;
    z-index: 9999;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    height: 70px;
}

.header.navbar-fixed-top .logo {
    color: #17baef;
}

.header .logo {
    margin: 0;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
}

.header .logo:hover {
    text-decoration: none;
}

.header .main-nav .navbar-collapse {
    padding: 0;
}

.header .main-nav .navbar-toggler {
    margin-right: 0;
    margin-top: 0;
    background: none;
    float: right;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px 8px;
    right: 10px;
    top: 10px;
    background: #074f66;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.header .main-nav .navbar-toggler:focus {
    outline: none;
}

.header .main-nav .navbar-toggler .icon-bar {
    display: block;
    background-color: #fff;
    height: 2px;
    width: 22px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.header .main-nav .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

.header .main-nav .navbar-toggler:hover .icon-bar {
    background-color: #fff;
}

.header .main-nav .nav .nav-item {
    font-weight: bold;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
}

.header .main-nav .nav .nav-item .nav-link {
    color: #09617e;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    font-size: 14px;
    padding: 15px 10px;
    text-decoration: none;
}

.header .main-nav .nav .nav-item .nav-link:hover {
    color: #074f66;
    background: none;
}

.header .main-nav .nav .nav-item .nav-link:focus {
    outline: none;
    background: none;
}

.header .main-nav .nav .nav-item .nav-link:active {
    outline: none;
    background: none;
}

.header .main-nav .nav .nav-item.active .nav-link {
    color: #17baef;
    background: none;
}

.header .main-nav .nav .nav-item.last {
    margin-right: 0;
}




/* ======= Docs Section ======= */
.docs {
    padding: 80px 0;
    /*background: #f5f5f5;*/
}
.docs .title {
    color: #2a435c;
    margin-top: 0;
    margin-bottom: 30px;
}
.docs .docs-inner {
    max-width: 800px;
    background: #fff;
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0 auto;
}
.docs .block {
    margin-bottom: 60px;
}
.docs .code-block {
    margin: 30px inherit;
}
.docs .code-block pre[class*="language-"] {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .header .main-nav button {
        margin-right: 0;
    }
    .header .main-nav .navbar-collapse {
        padding-left: 15px;
        padding-right: 15px;
    }
    .promo .btns .btn {
        margin-right: 0;
        clear: both;
        display: block;
        margin-bottom: 30px;
    }
    .promo .title {
        font-size: 66px;
    }
    .promo .meta {
        margin-top: 60px;
    }
    .promo .meta li {
        float: none;
        display: block;
        margin-bottom: 5px;
    }
    .contact .author-message {
        text-align: center;
    }
    .contact .author-message .profile {
        position: static;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .contact .author-message .speech-bubble {
        margin-left: 0;
    }
    .contact .author-message .speech-bubble:after {
        display: none;
    }
    .contact .social-icons a {
        width: 36px;
        height: 36px;
        padding-top: 7px;
        margin-right: 2px;
    }
    .contact .social-icons a .fa:before {
        font-size: 18px;
    }
}
.katex {
    font-size: 1em;
}
.katex .mathit, .katex .mathrm, .katex .mop {
    font-family: 'Noto Sans';
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */